body {
  background: url("./media/pexels-robert-schrader-15130868.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 85%;
  max-width: 450px;
}

.heading {
  font-size: 28px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
}
